// Button mixins
@mixin btn-theme ($btn-color, $btn-color-hover) {
    background-color: $btn-color;
    border-color: $btn-color;
    &:focus, &:hover {
        color: $white;
        background-color: $btn-color-hover;
        border-color: $btn-color-hover;
    }
}

@mixin btn-theme-common ($btn-color, $btn-color-hover, $color) {
    background-color: $btn-color;
    border-color: $btn-color;
    color: $color;
    &:focus, &:hover {
        color: $color;
        background-color: $btn-color-hover;
        border-color: $btn-color-hover;
    }
}

@mixin btn-size ($width, $height, $font-size, $radius) {
    @if $width != "auto" {
        min-width: $width;
    }

    @if $height != "auto" {
      //  min-height: $height;
    }

    font-size: $font-size;
    border-radius: $radius ;
}

@mixin app-btn-size($font-size, $padding, $radius) {
    @if $font-size != "" {
        font-size: $font-size;
    }
    border-radius: $radius;
    padding: $padding;
}

@mixin btn-shadow ($value, $color) {
    box-shadow: $value $color;
}

// Label mixins
@mixin label-theme ($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin circle ($width, $height, $color) {
    width: $width;
    height: $height;
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
}

@mixin user-simple-icon ($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center;
}