
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$black: #000000;
$blue: #3490dc;
$white: #ffffff;
$nero: #1b1b1b;
$nobel: #979797;

// Background colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$bright-orange: #ff6406;
$orange: #f76b1c;
$orangeish: #ff8647;
$pale-orange: #faa861;
$safety-orange: #ff6506;
$green: #38c172;
$greyish: #b1b1b1;
$greyish-brown: #434242;
$brownish-grey: #626262;
$warm-grey: #919191;
$teal: #4dc0b5;
$teal-blue: #008f96;
$turquoise-blue-two: #00bcbe;
$cyan: #6cb2eb;
$yellow: #ffed4a;

$theme-colors: (
    "red": #ff6406
);

$sm_font_size: 10px;
$heading_height: 52px;