.page_form_item {
  .right_column {
    background: url("./../images/app/group-7.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .main_page {
    padding-top: 13rem;
    .form-item-wrap {
      display: grid;
      align-items:center;
      min-height: 100%;
      grid-template-rows: 1fr 66px;
      grid-template-columns: 10rem 1fr;
      grid-template-areas: "left right" "button button";
      .left-content {
        grid-area: left;
      }
      .right-content {
        grid-area: right;
        label {
          color: #ffffff;
          font-weight: bold;
        }
        #require_point {
          width: 60px;
        }
      }
      .button-wrap {
        grid-area: button;
        text-align: center;
        .btn-left {
          width: 50%;
          float: left;
          .create-btn {
            background-color: #ffffff;
            border-color: #ffffff;
            color: #4a90e2;
            width: 110px;
            float: right;
            margin-right: 20px;
            border-radius: 5px;
          }
        }
        .btn-right {
          width: 50%;
          float: left;
          .back-btn {
            width: 110px;
            border: 1px solid #ffffff;
            border-radius: 5px;
            @include btn-theme-common ($white, $white, $white);
            background: transparent;
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}