html {
    font-size: 14px;
}

.page_body {
    .left_column {
        background: #38383e;
        width: 280px;
        flex: 0 0 280px;
    }
    .sidebar-wrapper {
        background: #38383e;
    }
}

.sidebar-wrapper {
    ul.main_menu {
        > li {
            &.active > a {
                background: #4a90e2;
            }

            &:hover > a {
                background: #5c9ce7;
            }

            > a {
                line-height: 1.5;
                height: 70px;
            }
        }

        ul {
            background: #4782c8;

            li {
                a {
                    color: #1e3754;
                    font-size: 1.11rem;

                    i {
                        color: inherit;
                    }
                }

                &:hover,
                &.active {
                    a, i {
                        color: #fff;
                    }
                }
            }
        }
    }

    a {
        border: none transparent !important;

        i {
            font-size: 25px;
            padding-right: 10px;
            width: 45px;
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    .logo {
        padding-top: 0 !important;
    }

    .logout-btn {
        background-color: #888897 !important;
    }

    .icon-konoyaro-history,
    .app-arigato-history {
        font-size: 2.14rem;
    }
}

.menu_top {
    background: #3c8dbc;
}

.data_table {
    margin-top: 15px;
    .icon_style {
        font-size: 2em;
        color: #666;
    }
}

// table filter
.filter {
    padding-top: 30px;

    .date_seperate {
        width: 30px;
        text-align: center;
    }

    .col-form-label {
        align-self: center;
        font-weight: bold;
    }

    .btn-radio-group {
        display: flex;

        .btn-outline-blue {
            color: #0b6fe3;
            border-color: #0b6fe3;
        }

        .btn-outline-blue:hover,
        input:checked + .btn-outline-blue {
            color: #fff;
            background-color: #0b6fe3;
            border-color: #0b6fe3;
        }

        input:first-child + .btn {
            border-top-left-radius: $input-border-radius;
            border-bottom-left-radius: $input-border-radius;
        }
    }

    .fix_height {
        height: 45px;
    }

    .btn-search {
        float: right;
        min-width: 140px;
    }

    .width_100 {
        width: 100%;
    }

    @include media-breakpoint-down(md) {
        .form-control {
            line-height: 1.5;
            border-radius: .25rem;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
        }
    }
}

// buttons csv on data table
.data_table_btn_group {
    margin-bottom: 1rem;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;

    .btn {
        margin-right: 8px;
        margin-left: 8px;
    }
}

.management-pagination {
    .page-item {
        .page-link {
            border-color: #0b6fe3;
        }

        &.active {
            .page-link {
                background-color: #0b6fe3;
                border-color: #0b6fe3;
            }
        }

    }
}
.data_table thead th{
    white-space: nowrap;
}



.modal-edit-reason {
    .modal-group-btn {
        text-align: center;
        .btn {
            margin-left: 10px;
            margin-right: 10px;
            min-width: 100px;
        }
    }

    .modal-body{
        padding: 2rem 3rem;
    }
    .modal-dialog {
        max-width: 750px;
    }

    .form-control {
        background: #f6f6f6;
    }

    .image_preview {
        max-height: 40px;
        width: 40px;
        margin-right: 15px;
        img[src=""] {
            display: none;
        }
    }
    .first-row {
        align-items: center;
    }

    .btn-select-file {
        background: #b1b1b1;
        color: #fff;
        border-color: #b1b1b1;
    }

    .form-group {
        margin-bottom: 30px;
    }
}
.page_reason_list {
    .page-heading {
        background-image: url("../images/app/management_bg.png");
        padding-left: 25px;
    }

    .edit_reason.editing i:before{
        content: "\F110";
    }
}
.sm_text-left {
    @include media-breakpoint-down(sm) {
        text-align: left !important;
    }
}


.management_btn_group {
    @include media-breakpoint-down(sm) {
        .btn-responsive {
            margin-bottom: 1rem;
            width: 100%;
        }
    }
}
