.menu_top {
    background: #3c8dbc;
    height: $heading_height;
    font-size: 1.05rem;
    padding-top: 6px;
    position: relative;

    ul {
        padding: 0;
        display: flex;
        margin: 0 25px 0 0;
        justify-content: right;
        align-items: center;
        z-index: 1;
        position: relative;
        float: right;

        li {
            list-style: none;
            padding: 0;
            margin: 0 15px 0 0;
        }

        .page_title {
            text-align: center;
            flex-grow: 1;
            font-weight: bold;
            color: #fff;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        line-height: 40px;
    }

    .user_photo {
        width: 40px;
        height: 40px;
    }

    .page_title {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }

    @include media-breakpoint-down('md') {
        ul {
            margin-right: 8px;

            li.user_photo {
                margin-right: 0;
            }
        }
        .user_full_name {
            display: none;
        }
    }
}

.translate_background {
    background: #BD81BD;
    height: $heading_height;
    font-size: 1.05rem;
    position: relative;

    ul {
        padding: 0;
        display: flex;
        margin: 0;
        justify-content: right;
        align-items: center;
        z-index: 1;
        position: relative;
        float: right;

        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .page_title {
            text-align: center;
            flex-grow: 1;
            font-weight: bold;
            color: #fff;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        line-height: 52px;
    }

    .user_photo {
        width: 40px;
        height: 40px;
    }

    .page_title {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }

    .user_full_name .btn-logout {
        height: 52px;
        padding: 0 20px;
        font-size: 15px;
        background-color: #A26FA2;
        border-radius: unset;
    }

    @include media-breakpoint-down('md') {
        ul {
            margin-right: 8px;

            li.user_photo {
                margin-right: 0;
            }
        }
        .user_full_name {
            margin-right: 0;
        }
    }
}
